<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">

  <title>Recuperar contraseña</title>
  <link rel="stylesheet" type="text/css" href="styles/recuperar.css">
  
</head>
<body>
  <div class="container">
    <h2>Recuperar contraseña</h2>
    <form action="../../server/change-password.php" method="POST">
      <input type="text" name="nombre_usuario" placeholder="Nombre de usuario" required>
      <input type="password" name="nueva_password" placeholder="Nueva contraseña" required>
      <button type="submit">Cambiar contraseña</button>
    </form>
    <a href="login.html">Volver al login</a>
  </div>
</body>
</html>
